<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style lang="">
        * {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        #root {
            width: 960px;
            height: 500px;
            background-color: #eee;
            position: relative;
        }
        .thing {
            width: 56px;
            height: 56px;
            background-color: red;
            position: absolute;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            top: 0;
            left: 0;
            text-align: center;
            color: #fff;
            line-height: 56px;
            font-size: 28px;
            transform: translate(-50%, -50%)
        }
    </style>
</head>
<body>
    <div id="root"></div>
    
    <script src="main.js"></script>
</body>
</html>